.itemPicture {
  height: 20vh;
  width: 12vw;
  margin-bottom: 30px;
}

.strikedPrice {
  text-decoration: line-through;
  color: red;
  margin-right: 2vh;
}

.dropItemContainer {
  background: rgba(169, 169, 169, .1);
  margin: 2vw;
  padding: 20px;
  height: 40vh;
  width: 18vw;
}
