.itemPicture {
  height: 15vh;
  width: 12vw;
  margin-bottom: 30px;
}

.strikedPrice {
  text-decoration: line-through;
  color: red;
  margin-right: 2vh;
}

.suggestedItemItemContainer {
  background: rgba(169, 169, 169, .1);
  margin: 2vw;
  padding: 5px;
  height: 30vh;
  width: 15vw;
}
